#!/usr/bin/env sh
# -*-mode:sh-*- vim:ft=sh

# update_vim_plugins
# =============================================================================
# Update vim plugins and quit immediately.

# dot_vimrc hash: {{ include "dot_vimrc" | sha256sum }}
nvim --headless "+Lazy! update" +qall
nvim --headless +TSUpdateSync '+echo("\n")' +qall
