# -*-model:conf-yaml-*- vim:ft=yaml

# ~/.local/share/chezmoi/.chezmoi.yaml
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.yaml`
#
# See https://www.chezmoi.io/user-guide/setup/

{{- /* This file supports Go's text/template language. */}}

{{- $email      := get . "email" -}}
{{- $name       := get . "name" -}}
{{- $username   := get . "username" -}}
{{- $encryptkey := get . "encryptkey" -}}
{{- $signingkey := get . "signingkey" -}}

{{- if not $email -}}
{{-   $email = promptString "Git email address for the author/committer" -}}
{{- end -}}
{{- if not $name -}}
{{-   $name = promptString "Git username for the author/committer" -}}
{{- end -}}
{{- if not $username -}}
{{-   $username = promptString "GitHub username" -}}
{{- end -}}
{{- if not $encryptkey -}}
{{-   $encryptkey = promptString "GPG encryption key for secrets" -}}
{{- end }}
{{- if not $signingkey -}}
{{-   $signingkey = promptString "GPG signing key for commit signatures" -}}
{{- end }}
---
sourceDir: {{ .chezmoi.sourceDir | quote }}

diff:
  exclude:
  - scripts
  format: git

encryption: gpg
gpg:
  recipient: {{ $encryptkey | quote }}
  args:
  - --quiet

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  username: {{ $username | quote }}
  signingkey: {{ $signingkey | quote }}
